<footer class="bg-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; 2024 Your Brand. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="/contact" class="text-decoration-none text-dark me-3">Contact Us</a>
                <a href="/testimonials" class="text-decoration-none text-dark">Testimonials</a>
            </div>
        </div>
    </div>
</footer> 